<footer class="row">
  <p>
    Created by <a href="http://zachgreen.codes">Zach Green</a>.
    <a href="https://github.com/zachjamesgreen/recipes"><i class="fa fa-github" aria-hidden="true"></i></a>
  </p>
</footer>
