<% content_for :title, "Recipes"%>

<% @recipes.each do |recipe| %>

<% if recipe === @recipes.last %>
  <div class="recipe columns small-3 end">
<% else %>
  <div class="recipe columns small-3">
<% end %>

    <% if !recipe.pictures.empty? %>
      <img src="/uploads/<%= recipe.pictures.first.thumb %>"  alt="">
    <% end %>

    <h3><%= link_to recipe.title, recipe %></h3>
    <p>Submitted by: <%= recipe.user.email%></p>
    <p><%= trim_desc recipe.description %></p>
  </div>
<% end %>
