<div class="columns small-4">
  <% @recipes.each do |recipe| %>
    <div class="recipe">
      <h3><%= link_to recipe.title, recipe %></h3>
      <p>Submitted by: <%= recipe.user.email%></p>
      <p><%= recipe.description %></p>
    </div>
  <% end %>
</div>
